@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02_A");

    //input variables for web controls
    var artistname = Request.Form["artistName"]; //name
    var thebutton = Request.Form["theButton"];
    
    //remember the 1st time the page is called
    //input variables will be null

    //REMEMBER NuGet packages:
    //Microsoft.Aspnet.WebPages.Data
    //Microsoft.Aspnet.Webpages.WebData

    //connect to the database
    var db = Database.Open("Chinook");

    //create the sql command to be executed on the database
    var sqlcommand = @"SELECT ArtistId
                     FROM Artists
                     WHERE Name like @0";

    var @partialstring = "%" + artistname + "%";
    var results = db.Query(sqlcommand, partialstring);
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    <p>IsPost = true</p>
    if (thebutton.Equals("reset"))
    {
        <p style="color:darkblue">The Reset Button was just Pressed</p>
        artistname = "";
    }
    else // find
    {
        if (results.Count() == 0) //no results
        {
            <p style="color:darkred">There was no record returned from the Data Base</p>
            artistname = "";
        }
        else if (results.Count() >= 1) //there is at least one result
        {
            //WARNING: value are passed in plain text on Url
            Response.Redirect("Exercise02_B.cshtml?cid=" + artistname);
            <p style="color:darkgreen">There was @results.Count() record/s returned from the Data Base</p>
        }
        else
        {
            <p style="color:darkred">Please enter an artist name.</p>
        }
    }
}
else
{
    <p>IsPost = false</p>
    <p style="color:darkblue">The Data Base has NOT been queried</p>
    artistname = "";
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-3">
            <div class="offset-1">
                <label id="lblartistName" for="artistName">Enter a whole or partial artist name:</label>&nbsp;&nbsp;
                <input type="text" id="artistName" name="artistName"
                       value="@artistname" placeholder="Artist name" />
                <br /><br />
                <button type="submit" id="theButton" name="theButton"
                        value="submit" class="btn btn-primary">
                    Find
                </button>&nbsp;&nbsp;
                <button type="submit" id="theButton" name="theButton"
                        value="reset" class="btn btn-light">
                    Reset
                </button>
            </div>
        </div>
    </div>
</form>
